/* CSS inspired by Apple */

body {
    font-family: "SF Pro Display", Arial, sans-serif;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px;
  }
  
  .container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    align-self: center;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007aff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004399;
  }
  