
.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .form-container h2 {
    text-align: center;
  }
  
  .form-container label {
    display: block;
  }
  
  .form-container input[type="text"],
  .form-container input[type="password"] {
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    width: 100%;
    background-color: #0077c2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #003A5E;
  }

  select {
    appearance: none;
    width: 100%;
    padding: 10px;
    height: 35px;
    background-color: #fff;
    background-image: linear-gradient(45deg, transparent 50%, #999 50%),
                      linear-gradient(135deg, #999 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
                         calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
  }

  form div {
    margin-bottom: 10px;
  }
  