<web-app>
    <!-- Other configuration settings -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Pages</web-resource-name>
            <url-pattern><!-- /secure/*--></url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>owner</role-name>
            <role-name>user</role-name>
            <role-name>runner</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
		<!--  Update the auth method -->
		<auth-method>BASIC</auth-method>
	</login-config>



   <security-constraint>
	   <web-resource-collection>
		 <web-resource-name>Secure resources</web-resource-name>
		 <!-- Update url pattern -->
		 <url-pattern><!-- Owner page --></url-pattern>
	   	</web-resource-collection>
	   	<!-- Add auth constraint -->
		<auth-constraint>
			<role-name>owner</role-name>
		</auth-constraint>
	</security-constraint>
	

	
	<security-constraint>
	   <web-resource-collection>
		 <web-resource-name>Secure resources</web-resource-name>
		 <!-- Update url pattern -->
		 <url-pattern><!-- User page --></url-pattern>
	   	</web-resource-collection>
	   	<!-- Add auth constraint -->
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	
	
	<security-constraint>
	   <web-resource-collection>
		 <web-resource-name>Secure resources</web-resource-name>
		 <!-- Update url pattern -->
		 <url-pattern><!-- Runner page --></url-pattern>
	   	</web-resource-collection>
	   	<!-- Add auth constraint -->
		<auth-constraint>
			<role-name>runner</role-name>
		</auth-constraint>
	</security-constraint>

    <!-- Other configuration settings -->
</web-app>
